/* ==================================================
Reset
================================================== */

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  padding: 0;
  margin: 0;
}
picture,
source {
  display: block;
}
ol,
ul {
  list-style: none;
}

/* ==================================================
common
================================================== */
a,
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='image'] {
  color: var(--fontColor);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: var(--transition);
  &:hover,
  &:active,
  &:focus {
    color: var(--linkColor);
  }
  &:hover {
    opacity: 0.8;
  }
}
:--heading {
  margin: 0;
  font-size: 100%;
}

/* spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pc {
  display: none;
}

/* ==================================================
Normalization for Third party
================================================== */

/* text truncation (dotdotdot) */
.truncation {
  visibility: hidden;

  /* transform: translate3d(0, -10px, 0); */
  opacity: 0;
  transition: all 0.6s linear;
  &.ready {
    visibility: visible;

    /* transform: translate3d(0, 0, 0); */
    opacity: 1;
  }
}

/* Web font		@ https://github.com/typekit/webfontloader#events */
.wf {
  opacity: 0;
  transition: all 0.4s linear;
}
.wf-active,
.wf-inactive {
  & .wf {
    opacity: 1;
  }
}

/* lazy load (lazysizes) */
[data-src],
[data-srcset],
[data-bgset],
.imagecontainer-img {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.1s;
  &.lazyloaded,
  &.loaded {
    /* visibility: visible; */
    opacity: 1;
  }
}
[data-sizes='auto'] {
  display: block;
  width: 100%;
}

.imagecontainer {
  position: relative;
  &::before {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    content: '';
  }
}
.imagecontainer-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.is-contain.imagecontainer .imagecontainer-img {
  object-fit: contain;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'object-fit: contain';
}
.is-cover.imagecontainer .imagecontainer-img {
  object-fit: cover;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'object-fit: cover';
}

/* slider (slick) */
.slider_wrap {
  position: relative;
  min-height: 871px;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    visibility: visible;
    content: '';
    border: 2px solid #aaa;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s linear 0.3s;
    animation: spin 1s linear infinite;
  }
  & .slider {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear 0.1s;
  }
  & .slick-slide {
    outline: none;
  }
  & img {
    width: 100%;
    height: auto;
  }
  &.ready {
    &::before {
      visibility: hidden;
      opacity: 0;
    }
    & .slider {
      visibility: visible;
      opacity: 1;
    }
  }

  /* & [data-src],
  & [data-srcset],
  & [data-bgset] {
    transition: opacity 0.8s ease-in-out 0.3s;
  } */
  & .slick-track {
    display: flex;
    align-items: center;
    & .slick-slide {
      float: none;
      & > div {
        line-height: 0.8;
      }
    }
  }
}
.slick-dots {
  & li {
    width: 21px;
    height: 21px;
    margin: 0 2px;
    vertical-align: top;
    & button {
      width: 21px;
      height: 21px;
      padding: 0;
      &::before {
        top: 4px;
        left: 4px;
        box-sizing: border-box;
        width: 13px;
        height: 13px;
        line-height: 13px;
        content: '';
        border: 1px solid #000;
        border-radius: 50%;
        opacity: 1;
      }
    }
    &.slick-active {
      & button {
        &::before {
          background: #000;
        }
      }
    }
  }
}

@media (--viewport-medium) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
}
