/**************************  \
  Basic Modal Styles
\  **************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica,
    ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.1%;
  background: rgb(0 0 0 / 0.6);
}

.modal__container {
  box-sizing: border-box;
  max-width: 500px;
  /* max-height: 100vh; */
  height: var(--inner-height);
  padding: 30px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 4px;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  color: #00449e;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close::before {
  content: '\2715';
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgb(0 0 0 / 0.8);
}

.modal__btn {
  padding: 0.5rem 1rem;
  margin: 0;
  overflow: visible;
  font-size: 0.875rem;
  line-height: 1.15;
  color: rgb(0 0 0 / 0.8);
  text-transform: none;
  cursor: pointer;
  background-color: #e6e6e6;
  border-style: none;
  border-width: 0;
  border-radius: 0.25rem;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  transform: translateZ(0);
  appearance: button;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;

  &:focus,
  &:hover {
    transform: scale(1.05);
  }
}

.modal__btn-primary {
  color: #fff;
  background-color: #00449e;
}
/**************************  \
  Demo Animation Style
\  **************************/

@keyframes mm-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mm-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mm-slide-in {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mm-slide-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;

  &.is-open {
    display: block;
  }

  &[aria-hidden='false'] {
    & .modal__overlay {
      animation: mm-fade-in 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    & .modal__container {
      animation: mm-slide-in 0.3s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  &[aria-hidden='true'] {
    & .modal__overlay {
      animation: mm-fade-out 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    & .modal__container {
      animation: mm-slide-out 0.3s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  & .modal__container,
  & .modal__overlay {
    will-change: transform;
  }
}
