@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('eot'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == dictionary {
		$char: "\E001";
	}
	@if $filename == fb-like {
		$char: "\E002";
	}
	@if $filename == fb {
		$char: "\E003";
	}
	@if $filename == google {
		$char: "\E004";
	}
	@if $filename == hatebu {
		$char: "\E005";
	}
	@if $filename == newpost {
		$char: "\E006";
	}
	@if $filename == news {
		$char: "\E007";
	}
	@if $filename == pocket {
		$char: "\E008";
	}
	@if $filename == print {
		$char: "\E009";
	}
	@if $filename == ranking {
		$char: "\E00A";
	}
	@if $filename == recommend {
		$char: "\E00B";
	}
	@if $filename == related {
		$char: "\E00C";
	}
	@if $filename == search {
		$char: "\E00D";
	}
	@if $filename == service {
		$char: "\E00E";
	}
	@if $filename == tag {
		$char: "\E00F";
	}
	@if $filename == twitter {
		$char: "\E010";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-dictionary {
	@include icon(dictionary);
}
.icon-fb-like {
	@include icon(fb-like);
}
.icon-fb {
	@include icon(fb);
}
.icon-google {
	@include icon(google);
}
.icon-hatebu {
	@include icon(hatebu);
}
.icon-newpost {
	@include icon(newpost);
}
.icon-news {
	@include icon(news);
}
.icon-pocket {
	@include icon(pocket);
}
.icon-print {
	@include icon(print);
}
.icon-ranking {
	@include icon(ranking);
}
.icon-recommend {
	@include icon(recommend);
}
.icon-related {
	@include icon(related);
}
.icon-search {
	@include icon(search);
}
.icon-service {
	@include icon(service);
}
.icon-tag {
	@include icon(tag);
}
.icon-twitter {
	@include icon(twitter);
}
