//	! responsive-nav.js 1.0.39 by @viljamis
.nav-collapse {
  ul {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    display: block;
  }
}

.js .nav-collapse {
  position: absolute;
  display: block;
  max-height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  span,
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: 30px;
    height: 3px;
    margin-top: -2px;
    font-size: 0;
    content: '';
    background: #aaa;
    transition: transform 0.3s;
  }
  &::before {
    transform: translateY(-8px);
  }
  &::after {
    transform: translateY(8px);
  }
  &.active {
    span {
      background-color: transparent;
    }
    &::before {
      transform: translateY(0) rotate(45deg);
    }
    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}
@media screen and (min-width: $breakPoint) {
  .js .nav-collapse {
    position: relative;
    &.closed {
      max-height: none;
    }
  }
  .nav-toggle {
    display: none;
  }
}
