{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-stage-2",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"]
  ],
}
