body {
  font-family: $fontfamily;
  font-size: $fontsize + px;
  line-height: $lineheight;
  color: $fontcolor;
  background: none;
  // -webkit-overflow-scrolling: touch;
  background: url(../images/test.png) no-repeat 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// body, html {
//   width: 100%;
//   height: 100%;
//   max-width: 100%;
//   max-height: 100%;
//   min-width: 100%;
//   min-height: 100%;
//   overflow: auto;
// }

main {
  width: 100%;

  /* height: 5000px; */

  /* padding: var(--mobileHeaderH) 0 0; */
}

.inner {
  box-sizing: border-box;
  width: 100%;
  padding: 0 3.1%;
}

@media only screen and (min-width: $breakPoint) {
  .inner {
    width: $baseWidth;
    padding: 0;
    margin: 0 auto;
  }
}
