.global-header {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--mobileHeaderH);
  overflow: hidden;
  @nest .admin-bar & {
    top: 46px;
  }
}
#wpadminbar {
  position: fixed;
}
.global-header__inner {
  padding: 10px 5.1% 0;
}
.global-header__nested-inner {
  position: relative;
}
.global-header__logo {
  width: 81px;
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (--viewport-medium) {
  .global-header {
    position: relative;
    width: var(--baseWidth);
    height: auto;
    margin: 0 auto;
    overflow: visible;
    @nest .admin-bar & {
      top: 0;
    }
  }
  .global-header__inner {
    position: fixed;
    width: 218px;
    padding: 0;
  }
  .global-header__section-main {
    display: none;
  }
}
