.page-id-3 {
  & article {
    & #sec_01 {
      & form {
        position: relative;

        /* @mixin spinner fixed, 16px, 2px, #aaa, loading, hidden; */
        & section {
          background: #fff; /* Required */
          & header {
            padding: 0 0 20px;
            margin-bottom: 13px;
            & p {
              & span {
                font-weight: bold;
              }
            }
          }
        }
        & .btn {
          width: 100%;
          margin-top: 20px;
          overflow: hidden;
          & button,
          & span,
          & input[type='submit'],
          & a {
            display: block;
            width: 100%;
            padding: 10px 0;
            font-size: 14px;
            text-align: center;
          }

          /* & span {

          }
          & input[type=submit] {

          } */
          & .ajax-loader {
            display: none;
          }
        }
        & #input {
          & span.wpcf7-form-control-wrap {
            /* For <select> */
            &.your-time,
            &.your-ceremony-year,
            &.your-ceremony-month,
            &.your-ceremony-capacity {
              &::before,
              &::after {
                position: absolute;
                top: 50%;
                right: 6px;
                z-index: 1;
                display: block;
                width: 0;
                height: 0;
                content: '';
                border-style: solid;
              }
              &::before {
                margin-top: -6px;
                border-color: transparent transparent #8c8c8c transparent;
                border-width: 0 3px 5px 3px;
              }
              &::after {
                margin-top: 1px;
                border-color: #8c8c8c transparent transparent transparent;
                border-width: 5px 3px 0 3px;
              }
            }
          }
          & label[for='your-file'] {
            & b {
              font-size: 14px;
            }
          }
          & span {
            &.caption {
              display: none;
              margin-left: 10px;
              font-size: 11px;
            }
            &.label {
              display: inline-block;
              margin: 0 10px 0 5px;
            }
          }
          & button {
            display: block;
          }
        }
        & #input,
        & #confirm {
          & .items {
            margin-top: 14px;
            & dl {
              display: block;
              margin-top: 16px;
              & dt {
                & .required {
                  color: var(--fontColor);
                }
              }
              & dd {
                margin-top: 3px;
              }
            }
          }
          & .notes {
            margin-top: 25px;
            & a {
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        & #confirm {
          /* & .items {
            & dl {
              & dt {

              }
            }
          } */
          & .btn {
            margin-top: 40px;
            & button,
            & span {
              float: left;
              width: 48.3%;
              margin-left: 3.4%;
            }
            & button {
              margin-left: 0;
            }
          }
        }
        & #confirm,
        & #result {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: auto;
          min-height: 100%;
          visibility: hidden;
          background: #fff;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          &.show {
            visibility: visible;
            opacity: 1;
          }
        }
        & #result {
          z-index: 2;
          & .btn {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
span.wpcf7-list-item {
  & input,
  & span {
    display: inline-block;
    vertical-align: middle;
  }
  &.first {
    margin-left: 0;
  }
}

@media (--viewport-medium) {
  .page-id-3 {
    & article {
      & #sec_01 {
        & form {
          & .btn {
            & button,
            & span,
            & input[type='submit'],
            & a {
              padding: 0;
            }
          }
          & #input {
            & span {
              &.caption {
                display: inline-block;
              }
            }
          }
          & #input,
          & #confirm {
            & .items {
              & dl {
                display: table;
                width: 100%;
                & dt,
                & dd {
                  display: table-cell;
                  vertical-align: top;
                }
                & dt {
                  width: 200px;
                  padding-top: 4px;
                  font-weight: bold;
                }
                & dd {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .lt-ie10 {
    & .page-form {
      & article {
        & #sec_01 {
          & form {
            & #input {
              & span.wpcf7-form-control-wrap {
                &.your-time,
                &.your-ceremony-year,
                &.your-ceremony-month,
                &.your-ceremony-capacity {
                  &::before,
                  &::after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
