@charset "UTF-8";

@import "_modules/settings.css";
@import "_modules/mixin.css";
@import "_modules/sanitize.css";
@import "_modules/form.css";
@import "_modules/sprite.css";
@import "_modules/svg-icon.css";
@import "_modules/wp-core.css";

@import "_modules/phone.css";
@import "_modules/desktop.css";

$teal: #004D40;

%bg-teal {
  background: $teal;
}

body {
  /*@extend %bg-teal;*/

  /*display: flex;

  @for $i from 0 to 10 {
    [data-index=$i] {
      &:after {
        content: "$i";
      }
    }
  }*/
  p {
    /*@include font-size(30);
    @include opacity(0.6);*/

    /*font-size: 30px;
    @mixin opacity 0.6;

    background: url('../images/test/test.jpg') no-repeat 0 0;*/
  }

  /*$sect: 1;
  @if $sect == 1 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  } @else {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacityIE);
  }*/
}


/* postcss-simple-vars */
$dir:    top;
$blue:   #056ef0;
$column: 200px;

.menu_link {
  background: $blue;
  width: $column;
}
.menu {
  width: calc(4 * $column);
  margin-$(dir): 10px;
}

/* postcss-mixins */
@define-mixin icon $name {
  padding-left: 16px;
  &::after {
    content: "";
    background-image: url('/icons/$(name).png');
  }
}

.search {
  @mixin icon search;
}

/* postcss-css-variables */
.box {
  background-color: var(--main-color);
}

/* spinner */
@keyframes spin {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
/*==================================================
Normalization for Third party
================================================== */
/* text truncation (dotdotdot) */
.truncation {
  transition: all 0.6s linear;
  /*transform: translate3d(0, -10px, 0);*/
  @mixin opacity 0;
  visibility: hidden;
  &.ready {
    /*transform: translate3d(0, 0, 0);*/
    @mixin opacity 1 ;
    visibility: visible;
  }
}

/* Web font		@ https://github.com/typekit/webfontloader#events */
.wf {
  transition: all .4s linear;
  @mixin opacity 0;
}
.wf-active, .wf-inactive {
  .wf {
    @mixin opacity 1;
  }
}

/* lazy load (lazysizes) */
[data-src], [data-srcset], [data-bgset] {
  transition: opacity .5s ease-in-out .1s;
  /*visibility: hidden;*/
  @mixin opacity 0;
  &.lazyloaded, &.loaded {
    /*visibility: visible;*/
    @mixin opacity 1;
  }
}
[data-sizes="auto"] {
  display: block;
  width: 100%;
}

/* slider (slick) */
.slider_wrap {
  position: relative;
  @mixin spinner absolute, 16px, 2px, #aaa, ready, visible;
  .slider {
    transition: all .3s linear .1s;
    visibility: hidden;
    @mixin opacity 0;
  }
  &.ready {
    .slider {
      @mixin opacity 1;
      visibility: visible;
    }
  }
  /*[data-src], [data-srcset], [data-bgset] {
  transition: opacity .8s ease-in-out .3s;
  }*/
}
.slick-dots {
  li {
    vertical-align: top;
    width: 21px;
    height: 21px;
    margin: 0 2px;
    button {
      width: 21px;
      height: 21px;
      padding: 0;
      &:before {
        content: "";
        width: 13px;
        height: 13px;
        line-height: 13px;
        top: 4px;
        left: 4px;
        border: 1px solid #000;
        border-radius: 50%;
        box-sizing: border-box;
        @mixin opacity 1;
      }
    }
    &.slick-active {
      button {
        &:before {
          background: #000;
        }
      }
    }
  }
}

#header {
  nav {
    ul {
      li {
        float: left;
        width: 100px;
      }
    }
  }
}

ul.flex {
  display: flex;
  flex-wrap: nowrap;								/* Default: nowrap (single-line) */
  justify-content: space-between;		/* |□  □  □| */
  align-items: center;						  /* Center */
  li {
  	flex: 0 1 90px;							    /* Default: 0 1 auto */
  	border: 1px solid #ccc;
  	&:nth-child(2) {
  		flex-basis: 120px;
  	}
  }
  @media only screen and (max-width: $breakPoint) {
  	flex-direction: column;
  	li {
  		flex: 0 1 auto;
  		&:nth-child(2) {
  			flex-basis: auto;
  		}
  	}
  }
}

.sprites {
  li {
    float: left;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  i {
    display: block;
    width: 32px;
    height: 32px;
  }
}
