<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<% var page = 'about' %>
<% var data = htmlWebpackPlugin.options.data[page] %>
<head>
	<% include ../partials/head %>
</head>
<body class="<%= page %>">
	<header id="header">
		<% include ../partials/header %>
	</header>
	<main>
		<article>
			<div class="inner">
				<section>
					About 1st section
				</section>
			</div>
		</article>
		<aside>
			<% include ../partials/aside %>
		</aside>
	</main>
	<footer id="footer">
		<% include ../partials/footer %>
	</footer>
</body>
</html>
