<!DOCTYPE html>
<html lang="ja">
<head>
	<% var page = 'home' %>
	<% include templates/head %>
</head>
<body>
	<% include templates/header %>
	<h1>Title</h1>
	<% include templates/footer %>
</body>
</html>
