@media only screen and (min-width: $breakPoint) {

/*==================================================
structure
================================================== */
body {

}
.inner {
  width: $baseWidth;
  padding: 0;
  margin: 0 auto;
}
.pc {display: block;}
.sp {display: none;}

/*==================================================
modules
================================================== */
/* Paginate */
.paginate {
  text-align: center;
  margin-top: 15px;
  .page-numbers {
    display: inline-block;
    min-width: 24px;
    margin: 0 2px;
  }
}

/*==================================================
header
================================================== */
#header {
  height: auto;
  #g_nav {
    position: relative;
    nav {
      ul {
        clear: fix;
        li {
          float: left;
          width: 200px;
          border: none;
          a {
            background: none;
          }
        }
      }
    }
  }
}
/*==================================================
aside
================================================== */
aside {
  display: block;
  section {

  }
}
/*==================================================
footer
================================================== */
#footer {

}

/*==================================================
home
================================================== */
.home {
  main {
    .sec_02 {
      .inner {
        ul {
          li {
            flex: 0 1 190px;
            margin-top: 0;
          }
        }
      }
    }
  }
}

/*==================================================
page-3 (contact)
================================================== */
.page-id-3 {
  article {
    #sec_01 {
      form {
        section {
          header {

          }
        }
        .btn {
          button, span, input[type=submit], a {
            padding: 0;
          }
          span {

          }
          input[type=submit] {

          }
        }
        #input {
          span {
            &.caption {
              display: inline-block;
            }
          }
        }
        #input, #confirm {
          .items {
            dl {
              width: 100%;
              display: table;
              dt, dd {
                display: table-cell;
                vertical-align: top;
              }
              dt {
                width: 200px;
                font-weight: bold;
                padding-top: 4px;
              }
              dd {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

.lt-ie10 {
  .page-form {
    article {
      #sec_01 {
        form {
          #input {
            span.wpcf7-form-control-wrap {
              &.your-time, &.your-ceremony-year, &.your-ceremony-month, &.your-ceremony-capacity {
                &:before, &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

}
