/* FormHack v1.2.0 (formhack.io) */

/* Config ----------------------------- */
:root {
  /* Font */
  --fh-font-family: var(--fontFamily);
  --fh-font-size: var(--fontSize);
  --fh-font-color: var(--fontColor);
  --fh-font-color-disabled: #aaa; /* Add code by SECT */

  /* Borders */
  --fh-border-radius: 5px;
  --fh-border-width: 1px;
  --fh-border-style: solid;
  --fh-border-color: var(--borderColor);

  /* Inputs, Textareas, Select, Option */
  --fh-input-height: 30px;
  --fh-input-width: 100%;
  --fh-input-max-width: 400px;
  --fh-input-bg-color: #fff;
  --fh-focus-bg-color: #fff;
  --fh-focus-border-color: var(--fh-border-color);
  --fh-focus-font-color: var(--fh-font-color);

  /* Select Vendor Styling */
  --fh-select-vendor-styling: none; /* comment this out to maintain vendor styling */

  /* Buttons & Input Submits */
  --fh-button-height: 40px;
  --fh-button-width: 100%;
  --fh-button-max-width: 200px;
  --fh-button-font-color: var(--fh-font-color);
  --fh-button-bg-color: var(--fh-focus-bg-color);
  --fh-button-hover-bg-color: var(--fh-border-color);
  --fh-button-hover-font-color: var(--fh-font-color);

  /* Layout */
  --fh-layout-display: block;
  --fh-layout-margin: 10px 0; /* change to "10px auto" to center */
  --fh-layout-text-align: center;

  /* Add code by SECT */

  /* field size */
  --field-size-s: 50px;
  --field-size-m: 200px;
  --field-size-l: 400px;
  --field-size-full: var(--fh-input-width);
}

/* Global Reset Styles ------------------ */

input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  display: var(--fh-layout-display);
  margin: var(--fh-layout-margin);
  font-family: var(--fh-font-family);
  font-size: var(--fh-font-size);
  color: var(--fh-font-color);

  /* text-align: var(--fh-layout-text-align); */
  vertical-align: top;
  outline: none;
}

datalist {
  font-family: var(--fh-font-family);
  font-size: var(--fh-font-size);
}

label {
  display: var(--fh-layout-display);
  margin: var(--fh-layout-margin);

  /* text-align: var(--fh-layout-text-align); */
}

/* Input & Textarea ------------------ */

/* Fields with standard width */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='number'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[list],
input[type='file'],
select,
textarea {
  width: var(--fh-input-width);
  max-width: var(--fh-input-max-width);
  padding: calc(var(--fh-input-height) / 5);
  background-color: var(--fh-input-bg-color);
  border-color: var(--fh-border-color);
  border-style: var(--fh-border-style);
  border-width: var(--fh-border-width);
  border-radius: var(--fh-border-radius);
}

/* Fields with standard height */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='number'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[list] {
  height: var(--fh-input-height);
  -webkit-appearance: none;
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

/* Other */

textarea {
  -webkit-appearance: none;
  overflow: auto;
}

input[type='range'] {
  width: var(--fh-input-width);
  max-width: var(--fh-input-max-width);
  height: var(--fh-input-height);
}

input[type='file'] {
  min-height: var(--fh-input-height);
}

input[type='search'] {
  height: var(--fh-input-height);
  -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  vertical-align: middle;
}

/* For checkbox and radio to be centered, need to wrap the input and label in a span -
/* .checkbox-container {
/*  display: block;
/*  text-align: center;
/* }


/* Select ------------------ */

select {
  height: var(--fh-input-height);
  -webkit-appearance: var(--fh-select-vendor-styling, menulist);
  -moz-appearance: var(--fh-select-vendor-styling, menulist);
  -ms-appearance: var(--fh-select-vendor-styling, menulist);
  -o-appearance: var(--fh-select-vendor-styling, menulist);
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  height: auto;
  min-height: var(--fh-input-height);
  padding: 0;
}

select[multiple] option {
  padding: calc(var(--fh-input-height) / 5);
  margin: 0;
}

/* Fieldset ------------------ */

fieldset {
  /* padding: 0;
  border: 0; */
  padding: 10px 25px;
  border: var(--fh-border-width) var(--fh-border-style) var(--fh-border-color);
  border-radius: var(--fh-border-radius);
}

legend {
  /* padding: 0;
  font-weight: inherit; */
  padding: 0 5px;
  font-weight: 700;
}

/* Buttons, Input Type Submit/Reset ------------------ */

button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='image'] {
  width: var(--fh-button-width);
  max-width: var(--fh-button-max-width);
  height: var(--fh-button-height);
  padding: calc(var(--fh-input-height) / 5);
  font-weight: 700;
  color: var(--fh-button-font-color);
  cursor: pointer;
  background-color: var(--fh-button-bg-color);
  border-color: var(--fh-border-color);
  border-style: var(--fh-border-style);
  border-width: var(--fh-border-width);
  border-radius: var(--fh-border-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='image'] {
  /* padding: calc(var(--fh-input-height) / 5); */
  padding: 0;
  text-align: center;
}

/* States ------------------ */

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: var(--fh-focus-bg-color);
  border-color: var(--fh-focus-border-color);
}

/* input[type='checkbox']:focus,
input[type='radio']:focus {
  outline: var(--fh-focus-border-color) solid 2px;
} */

button:hover,
input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
button:focus,
input[type='button']:focus,
input[type='submit']:focus,
input[type='reset']:focus {
  color: var(--fh-button-hover-font-color);
  background-color: var(--fh-button-hover-bg-color);
}

/* ==================================================
  Add code by SECT
================================================== */

/* input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='number'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[list],
input[type='file'],
select,
textarea {
  &.size_s {
    max-width: initial;
    max-width: auto;
  }
  &.size_m {
    max-width: initial;
    max-width: auto;
  }
  &.size_l {
    max-width: initial;
    max-width: auto;
  }
  &.size_full {
    max-width: initial;
    max-width: auto;
  }
  @media (--viewport-medium) {
    &.size_s {
      width: var(--fh-input-width);
      max-width: var(--field-size-s);
    }
    &.size_m {
      width: var(--fh-input-width);
      max-width: var(--field-size-m);
    }
    &.size_l {
      width: var(--fh-input-width);
      max-width: var(--field-size-l);
    }
    &.size_full {
      width: var(--field-size-full);
      max-width: initial;
      max-width: auto;
    }
  }
} */

/* Disable autofill(yellow background) on Chrome */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* placeholder */
::placeholder {
  color: #999;
}

/* [readonly=readonly] */
input[readonly],
textarea[readonly],
select[readonly],
option[readonly],
button[readonly] {
  padding: 0;
  border: none;

  /* background: none !important; */
}

/* [readonly=disabled] */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  color: var(--fh-font-color-disabled) !important;
  cursor: not-allowed;
  &:hover {
    color: var(--fh-font-color-disabled);
  }
}

/* input[type=range]	@ range.css: https://github.com/danielstern/range.css/ */
input[type='range'] {
  -webkit-appearance: none;

  /* &.size_s {
    max-width: initial;
    max-width: auto;
  }
  &.size_m {
    max-width: initial;
    max-width: auto;
  }
  &.size_l {
    max-width: initial;
    max-width: auto;
  }
  &.size_full {
    max-width: initial;
    max-width: auto;
  }
  @media (--viewport-medium) {
    &.size_s {
      width: var(--fh-input-width);
      max-width: var(--field-size-s);
    }
    &.size_m {
      width: var(--fh-input-width);
      max-width: var(--field-size-m);
    }
    &.size_l {
      width: var(--fh-input-width);
      max-width: var(--field-size-l);
    }
    &.size_full {
      width: var(--field-size-full);
      max-width: initial;
      max-width: auto;
    }
  } */
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: rgba(200, 200, 200, 0.78);
    border: 0 solid #010101;
    border-radius: 0;
  }
  &::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    margin-top: -5px;
    cursor: pointer;
    background: #444;
    border: 1.8px solid #444;
    border-radius: 50%;
    -webkit-appearance: none;
  }
  &:focus::-webkit-slider-runnable-track {
    background: rgba(213, 213, 213, 0.78);
  }
  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: rgba(200, 200, 200, 0.78);
    border: 0 solid #010101;
    border-radius: 0;
  }
  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: #444;
    border: 1.8px solid #444;
    border-radius: 50%;
  }
  &::-ms-track {
    width: 100%;
    height: 2px;
    color: transparent;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
  }
  &::-ms-fill-lower {
    background: rgba(187, 187, 187, 0.78);
    border: 0 solid #010101;
    border-radius: 0;
  }
  &::-ms-fill-upper {
    background: rgba(200, 200, 200, 0.78);
    border: 0 solid #010101;
    border-radius: 0;
  }
  &::-ms-thumb {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: #444;
    border: 1.8px solid #444;
    border-radius: 50%;

    /* height: 2px; */
  }
  &:focus {
    &::-ms-fill-lower {
      background: rgba(200, 200, 200, 0.78);
    }
    &::-ms-fill-upper {
      background: rgba(213, 213, 213, 0.78);
    }
  }
}

/* For third party */

/* select2.js - Reset default css */
.select2-container--default {
  & .select2-selection--single,
  & .select2-selection--multiple {
    height: var(--fh-input-height) !important;
    border: var(--fh-border-width) var(--fh-border-style) var(--fh-border-color) !important;
    border-radius: var(--fh-border-radius) !important;
    outline: none;
    & .select2-selection__rendered {
      height: var(--fh-input-height) !important;
    }
    & .select2-selection__choice {
      border: var(--fh-border-width) var(--fh-border-style) var(--fh-border-color) !important;

      /* background-color: #999 !important; */
    }
  }
  &.select2-container--open.select2-container--below {
    & .select2-selection--single,
    & .select2-selection--multiple {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  .select2-search--dropdown .select2-search__field {
    max-width: initial;
    max-width: auto;
    border-color: var(--fh-border-color) !important;
  }
}
.select2-dropdown {
  border-color: var(--fh-border-color) !important;
}
.select2-selection__clear {
  font-size: 13px;
  color: var(--fontColor);
}
.select2-container {
  width: 100% !important;
  max-width: 100%;
  & .select2-search--inline {
    & .select2-search__field {
      margin-top: 0 !important;
    }
  }
}

/* .size_s {
  & + .select2-container {
    max-width: initial;
    max-width: auto;
  }
}
.size_m {
  & + .select2-container {
    max-width: initial;
    max-width: auto;
  }
}
.size_l {
  & + .select2-container {
    max-width: initial;
    max-width: auto;
  }
}
.size_full {
  & + .select2-container {
    max-width: initial;
    max-width: auto;
  }
}
@media (--viewport-medium) {
  .size_s {
    & + .select2-container {
      width: var(--fh-input-width);
      max-width: var(--field-size-s);
    }
  }
  .size_m {
    & + .select2-container {
      width: var(--fh-input-width);
      max-width: var(--field-size-m);
    }
  }
  .size_l {
    & + .select2-container {
      width: var(--fh-input-width);
      max-width: var(--field-size-l);
    }
  }
  .size_full {
    & + .select2-container {
      width: var(--field-size-full);
      max-width: initial;
      max-width: auto;
    }
  }
} */

/* contact form 7 */
.wpcf7-form-control-wrap {
  display: block;
}
