@define-mixin arrow $direction: right, $size: 10px, $borderwidth: 2px, $color: #333,
  $horizontal: right, $margin: 10px {
  &::after {
    position: absolute;
    top: 50%;
    display: block;
    width: $size;
    height: $size;
    margin-top: round(-$size / 2);
    content: '';
    border-top: $borderwidth solid $color;
    border-right: $borderwidth solid $color;
    @if $direction == top {
      transform: rotate(-45deg);
    } @else if $direction == bottom {
      transform: rotate(135deg);
    } @else if $direction == left {
      transform: rotate(225deg);
    } @else {
      transform: rotate(45deg);
    }
    @if $horizontal == left {
      left: -(round($size / 2) - 1px);
    } @else {
      right: $margin + round($size / 5);
    }
  }
}

/* Usage: */

/* div {
    position: relative;
    @include arrow(right, 10px, 2px, #333, right, 10px);
    @mixin arrow right, 10px, 2px, #333, right, 10px;
} */

@define-mixin spinner $position: absolute, $size: 16px, $borderwidth: 2px, $color: #aaa,
  $parentclass: ready, $defaultdisplay: visible {
  &::before {
    position: $position;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: $size;
    height: $size;
    margin: round(-$size / 2) 0 0 round(-$size / 2);
    content: '';
    border: $borderwidth solid $color;
    border-right-color: transparent;
    border-radius: 50%;
    transition: all 0.3s linear 0.3s;
    animation: spin 1s linear infinite;
    @if $defaultdisplay == visible {
      visibility: visible;
      @mixin opacity 1;
    } @else {
      visibility: hidden;
      @mixin opacity 0;
    }
  }
}

/* Usage: */

/* div {
    @include spinner(absolute, 16px, 2px, #aaa, ready, visible/hidden);
    @mixin spinner absolute, 16px, 2px, #aaa, ready, visible/hidden;
} */

/*
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}
*/

/* ==================================================
For Retine mix-in Sprite
================================================== */

/* @define-mixin sprite-2x-width $sprite {
  width: nth($sprite, 5) / 2;
}
@define-mixin sprite-2x-height $sprite {
  height: nth($sprite, 6) / 2;
}
@define-mixin sprite-2x-position $sprite {
  $sprite-offset-x: nth($sprite, 3) / 2;
  $sprite-offset-y: nth($sprite, 4) / 2;
  background-position: $sprite-offset-x  $sprite-offset-y;
}
@define-mixin sprite-2x-image $sprite {
  $sprite-image: nth($sprite, 9);
  background-image: url($sprite-image);
}

@define-mixin sprite-2x-size $sprite {
  background-size: nth($sprite, 7)/2 nth($sprite, 8)/2;
}
@define-mixin sprite-2x $sprite {
  @mixin sprite-2x-image $sprite ;
  @mixin sprite-2x-position $sprite;
  @mixin sprite-2x-size $sprite;
  @mixin sprite-2x-width $sprite;
  @mixin sprite-2x-height $sprite;
} */

/* ==================================================
.wp-editor
================================================== */
@define-mixin wp-editor $margin {
  .wp-editor {
    font-family: $fontfamily;
    font-size: $(fontsize);
    line-height: $lineheight;
    h3,
    h4,
    p {
      margin: $margin 0;
      overflow: hidden;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    h3 {
      font-size: 14px;
    }
    h4 {
      font-size: 13px;
    }
    a {
      color: $linkcolor;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }

    /*
    blockquote {
      margin: $margin 0;
      padding: 20px;
      position: relative;
      &:before, &:after{
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 72px;
        height: 56px;
      }
      &:before {
        top: 20px;
        left: 20px;
    	background: url(../img/quote-top.png) no-repeat 0 0;
      }
      &:after {
        bottom: 20px;
        right: 20px;
    	  background: url(../img/quote-bottom.png) no-repeat 0 0;
      }
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media only screen and (max-width:$breakPoint) {
        padding: 28px 25px;
        &:before, &:after {
          width: 36px;
          height: 28px;
        }
        &:before {
          top: 14px;
          left: 14px;
          background-size: 36px 28px;
        }
        &:after {
          bottom: 14px;
          right: 14px;
          background-size: 36px 28px;
        }
      }
    }
*/
    blockquote {
      padding-left: 15px;
      margin: $margin 0;
      font-weight: bold;
      border-left: 5px solid $bordercolor;
    }
    @media only screen and (min-width: $breakPoint) {
      blockquote {
        padding-left: 35px;
      }
    }
  }
  .aligncenter {
    display: block;
    margin: 0 auto;
  }
  .alignleft {
    float: left;
    margin: 0 $margin $margin 0;
  }
  .alignright {
    float: right;
    margin: 0 0 $margin $margin;
  }
  .wp-caption {
    padding-top: 4px;
    margin: 10px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 3px;
    img {
      padding: 0;
      margin: 0;
      border: 0 none;
    }
    p.wp-caption-text {
      padding: 0 4px 5px;
      margin: 0;
      font-size: 11px;
      line-height: 17px;
    }
  }
}
