/* ==================================================
Reset
================================================== */

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  padding: 0;
  margin: 0;
}
picture,
source {
  display: block;
}
ol,
ul {
  list-style: none;
}

/* ==================================================
structure
================================================== */
body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  color: var(--fontColor);
  background: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* -webkit-overflow-scrolling: touch; */
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  & li {
    flex: 0 1 calc(100% - 20px);
  }
}

/* body, html {
width: 100%;
height: 100%;
max-width: 100%;
max-height: 100%;
min-width: 100%;
min-height: 100%;
overflow: auto;
} */
.inner {
  box-sizing: border-box;
  width: 100%;
  padding: 0 3.1%;
}
.pc {
  display: none;
}

/* ==================================================
common
================================================== */
a,
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='image'] {
  color: var(--fontColor);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: var(--transition);
  &:hover,
  &:active,
  &:focus {
    color: var(--linkColor);
  }
  &:hover {
    opacity: 0.8;
  }
}
:--heading {
  margin: 0;
  font-size: 100%;
}

/* spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==================================================
Normalization for Third party
================================================== */

/* text truncation (dotdotdot) */
.truncation {
  visibility: hidden;

  /* transform: translate3d(0, -10px, 0); */
  opacity: 0;
  transition: all 0.6s linear;
  &.ready {
    visibility: visible;

    /* transform: translate3d(0, 0, 0); */
    opacity: 1;
  }
}

/* Web font		@ https://github.com/typekit/webfontloader#events */
.wf {
  opacity: 0;
  transition: all 0.4s linear;
}
.wf-active,
.wf-inactive {
  & .wf {
    opacity: 1;
  }
}

/* lazy load (lazysizes) */
[data-src],
[data-srcset],
[data-bgset] {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.1s;
  &.lazyloaded,
  &.loaded {
    /* visibility: visible; */
    opacity: 1;
  }
}
[data-sizes='auto'] {
  display: block;
  width: 100%;
}

/* slider (slick) */
.slider_wrap {
  position: relative;

  /* @mixin spinner absolute, 16px, 2px, #aaa, ready, visible; */
  & .slider {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear 0.1s;
  }
  &.ready {
    &::before {
      visibility: hidden;
      opacity: 0;
    }
    & .slider {
      visibility: visible;
      opacity: 1;
    }
  }

  /* & [data-src],
  & [data-srcset],
  & [data-bgset] {
    transition: opacity 0.8s ease-in-out 0.3s;
  } */
  & .slick-slide {
    & > div {
      line-height: 0.8;
    }
    & img {
      width: 100%;
      height: auto;
    }
  }
}
.slick-dots {
  & li {
    width: 21px;
    height: 21px;
    margin: 0 2px;
    vertical-align: top;
    & button {
      width: 21px;
      height: 21px;
      padding: 0;
      &::before {
        top: 4px;
        left: 4px;
        box-sizing: border-box;
        width: 13px;
        height: 13px;
        line-height: 13px;
        content: '';
        border: 1px solid #000;
        border-radius: 50%;
        opacity: 1;
      }
    }
    &.slick-active {
      & button {
        &::before {
          background: #000;
        }
      }
    }
    &:first-child {
      background: #ddd;
    }
  }
}

/* slider (glide) */
.glide_wrap {
  position: relative;
  @mixin spinner absolute, 16px, 2px, #aaa, ready, visible;
  .glide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear 0.1s;
  }
  &.ready {
    &::before {
      visibility: hidden;
      opacity: 0;
    }
    .glide {
      visibility: visible;
      opacity: 1;
    }
  }
  .glide__track {
    img {
      width: 100%;
      height: auto;
    }
  }
  .glide__arrows {
    .glide__arrow {
      width: 60px;
      height: 60px;
      padding: 0;
      text-indent: -9999px;
      text-shadow: none;
      background: #fff;
      border: none;
      border-radius: 0;
      box-shadow: none;
      &::after {
        position: absolute;
        top: 50%;
        display: block;
        width: 15px;
        height: 15px;
        margin-top: -7px;
        content: '';
        border-top: 1px solid #333;
        border-right: 1px solid #333;
      }
      &.glide__arrow--left {
        left: 0;
        &::after {
          left: 50%;
          margin-left: -4px;
          -ms-transform: rotate(225deg);
          transform: rotate(225deg);
        }
      }
      &.glide__arrow--right {
        right: 0;
        &::after {
          right: 50%;
          margin-right: -4px;
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
  .glide__bullets {
    bottom: -27px;
    .glide__bullet {
      width: 12px;
      height: 12px;
      margin: 0 8px;
      background-color: #bbb;
      border: none;
      border-radius: 50%;
      box-shadow: none;
      &.glide__bullet--active {
        background-color: #111;
      }
    }
  }
}

/* ==================================================
modules
================================================== */

/* Paginate */
.paginate {
  margin-top: 28px;
  line-height: 1.5;
  & .page-numbers {
    display: inline-block;
    min-width: 15px;
    margin: 0 2px;
    text-align: center;
  }
  & .current {
    text-decoration: underline;
  }
}

/* Grid */
.parent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 0;
  grid-column-gap: 0;
  & .div1 {
    grid-area: 1 / 1 / 2 / 7;
  }
  & .div2 {
    grid-area: 2 / 1 / 6 / 2;
  }
  & .div3 {
    grid-area: 2 / 2 / 3 / 7;
  }
}

/* ==================================================
header
================================================== */
#header {
  position: relative;
  width: 100%;
  height: var(--mobileHeaderH);

  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: #fff; */
  & #logo {
    & a {
      position: relative;
      z-index: 100;
    }
  }
  & #g_nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding-top: var(--mobileHeaderH);
    & .nav-toggle {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 20;

      /* padding-top: 15px; */
      & i {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 9px;
        font-style: normal;
        text-align: center;
      }
    }
    & nav {
      display: none;
      & ul {
        & li {
          border-bottom: 1px solid #aaa;
          & a {
            display: block;
            padding: 10px;
            font-size: 1rem;
            background: #ddd;
          }
        }
      }
    }
  }
}

/* ==================================================
aside
================================================== */
aside {
  display: none;
}

/* ==================================================
footer
================================================== */
#footer {
  margin-top: 30px;
}

/* ==================================================
main
================================================== */
main {
  width: 100%;

  /* height: 5000px; */

  /* padding: var(--mobileHeaderH) 0 0; */
}

/* ==================================================
home
================================================== */

/* ==================================================
page-form (page-id-3)
================================================== */
.page-id-3 {
  & article {
    & #sec_01 {
      & form {
        position: relative;

        /* @mixin spinner fixed, 16px, 2px, #aaa, loading, hidden; */
        & section {
          background: #fff; /* Required */
          & header {
            padding: 0 0 20px;
            margin-bottom: 13px;
            & p {
              & span {
                font-weight: bold;
              }
            }
          }
        }
        & .btn {
          width: 100%;
          margin-top: 20px;
          overflow: hidden;
          & button,
          & span,
          & input[type='submit'],
          & a {
            display: block;
            width: 100%;
            padding: 10px 0;
            font-size: 14px;
            text-align: center;
          }

          /* & span {

          }
          & input[type=submit] {

          } */
          & .ajax-loader {
            display: none;
          }
        }
        & #input {
          & span.wpcf7-form-control-wrap {
            /* For <select> */
            &.your-time,
            &.your-ceremony-year,
            &.your-ceremony-month,
            &.your-ceremony-capacity {
              &::before,
              &::after {
                position: absolute;
                top: 50%;
                right: 6px;
                z-index: 1;
                display: block;
                width: 0;
                height: 0;
                content: '';
                border-style: solid;
              }
              &::before {
                margin-top: -6px;
                border-color: transparent transparent #8c8c8c transparent;
                border-width: 0 3px 5px 3px;
              }
              &::after {
                margin-top: 1px;
                border-color: #8c8c8c transparent transparent transparent;
                border-width: 5px 3px 0 3px;
              }
            }
          }
          & label[for='your-file'] {
            & b {
              font-size: 14px;
            }
          }
          & span {
            &.caption {
              display: none;
              margin-left: 10px;
              font-size: 11px;
            }
            &.label {
              display: inline-block;
              margin: 0 10px 0 5px;
            }
          }
          & button {
            display: block;
          }
        }
        & #input,
        & #confirm {
          & .items {
            margin-top: 14px;
            & dl {
              display: block;
              margin-top: 16px;
              & dt {
                & .required {
                  color: var(--fontColor);
                }
              }
              & dd {
                margin-top: 3px;
              }
            }
          }
          & .notes {
            margin-top: 25px;
            & a {
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        & #confirm {
          /* & .items {
            & dl {
              & dt {

              }
            }
          } */
          & .btn {
            margin-top: 40px;
            & button,
            & span {
              float: left;
              width: 48.3%;
              margin-left: 3.4%;
            }
            & button {
              margin-left: 0;
            }
          }
        }
        & #confirm,
        & #result {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: auto;
          min-height: 100%;
          visibility: hidden;
          background: #fff;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          &.show {
            visibility: visible;
            opacity: 1;
          }
        }
        & #result {
          z-index: 2;
          & .btn {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
span.wpcf7-list-item {
  & input,
  & span {
    display: inline-block;
    vertical-align: middle;
  }
  &.first {
    margin-left: 0;
  }
}
