/*==================================================
Reset
================================================== */
/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  padding: 0;
  margin: 0;
}
picture, source {
  display: block;
}
ol, ul {
  list-style: none;
}
/*==================================================
structure
================================================== */
body {
  background: none;
  font-family: $fontfamily;
  font-size: $(fontsize)px;
  color: $fontcolor;
  line-height: $lineheight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*-webkit-overflow-scrolling: touch;*/
}
/*body, html {
width: 100%;
height: 100%;
max-width: 100%;
max-height: 100%;
min-width: 100%;
min-height: 100%;
overflow: auto;
}*/
.inner {
  width: 100%;
  padding: 0 3.1%;
  box-sizing: border-box;
}
.pc {display: none;}
/*==================================================
common
================================================== */
a,
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  color: $linkcolor;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: $transition;
  &:hover, &:active, &:focus {
    color: $linkcolor;
  }
  &:hover {
    @mixin opacity 0.8;
  }
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-size: 100%;
}

/* spinner */
@keyframes spin {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
/*==================================================
Normalization for Third party
================================================== */
/* text truncation (dotdotdot) */
.truncation {
  transition: all 0.6s linear;
  /*transform: translate3d(0, -10px, 0);*/
  @mixin opacity 0;
  visibility: hidden;
  &.ready {
    /*transform: translate3d(0, 0, 0);*/
    @mixin opacity 1;
    visibility: visible;
  }
}

/* Web font		@ https://github.com/typekit/webfontloader#events */
.wf {
  transition: all .4s linear;
  @mixin opacity 0;
}
.wf-active, .wf-inactive {
  .wf {
    @mixin opacity 1;
  }
}

/* lazy load (lazysizes) */
[data-src], [data-srcset], [data-bgset] {
  transition: opacity .5s ease-in-out .1s;
  /*visibility: hidden;*/
  @mixin opacity 0;
  &.lazyloaded, &.loaded {
    /*visibility: visible;*/
    @mixin opacity 1;
  }
}
[data-sizes="auto"] {
  display: block;
  width: 100%;
}

/* slider (slick) */
.slider_wrap {
  position: relative;
  @mixin spinner absolute, 16px, 2px, #aaa, ready, visible;
  .slider {
    transition: all .3s linear .1s;
    visibility: hidden;
    @mixin opacity 0;
  }
  &.ready {
    &:before {
      visibility: hidden;
      @mixin opacity 0;
    }
    .slider {
      visibility: visible;
      @mixin opacity 1;
    }
  }
  /*[data-src], [data-srcset], [data-bgset] {
    transition: opacity .8s ease-in-out .3s;
  }*/
  .slick-slide {
    > div {
      line-height: 0.8;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
.slick-dots {
  li {
    vertical-align: top;
    width: 21px;
    height: 21px;
    margin: 0 2px;
    button {
      width: 21px;
      height: 21px;
      padding: 0;
      &:before {
        content: "";
        width: 13px;
        height: 13px;
        line-height: 13px;
        top: 4px;
        left: 4px;
        border: 1px solid #000;
        border-radius: 50%;
        box-sizing: border-box;
        @mixin opacity 1;
      }
    }
    &.slick-active {
      button {
        &:before {
          background: #000;
        }
      }
    }
    &:first-child {
      background: #ddd;
    }
  }
}

/*==================================================
modules
================================================== */
/* Paginate */
.paginate {
  margin-top: 28px;
  line-height: 1.5;
  .page-numbers {
    text-align: center;
    display: inline-block;
    min-width: 15px;
    margin: 0 2px;
  }
  .current {
    text-decoration: underline;
  }
  .prev, .next {

  }
  .prev {

  }
  .next {

  }
}

/* Grid */
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .div1 {
    grid-area: 1 / 1 / 2 / 7;
  }
  .div2 {
    grid-area: 2 / 1 / 6 / 2;
  }
  .div3 {
    grid-area: 2 / 2 / 3 / 7;
  }
}

/*==================================================
header
================================================== */
#header {
  width: 100%;
  height: $mobileheaderH;
  position: relative;
  /*position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: #fff;*/
  #logo {
    a {
      position: relative;
      z-index: 100;
    }
  }
  #g_nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding-top: $mobileheaderH;
    .nav-toggle {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 20;
      /*padding-top: 15px;*/
      i {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: normal;
        font-size: 9px;
      }
    }
    nav {
      display: none;
      ul {
        li {
          border-bottom: 1px solid #aaa;
          a {
            display: block;
            padding: 10px;
            background: #ddd;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
/*==================================================
aside
================================================== */
aside {
  display: none;
}
/*==================================================
footer
================================================== */
#footer {
  margin-top: 30px;
}

/*==================================================
main
================================================== */
main {
  width: 100%;
  /*height: 5000px;*/
  /*padding: $mobileheaderH 0 0;*/
}
/*==================================================
home
================================================== */
.home {

}
/*==================================================
page-form (page-id-3)
================================================== */
.page-id-3 {
  article {
    #sec_01 {
      form {
        position: relative;
        @mixin spinner fixed, 16px, 2px, #aaa, loading, hidden;
        section {
          background: #fff;			/* Required */
          header {
            padding: 0 0 20px;
            margin-bottom: 13px;
            p {
              span {
                font-weight: bold;
              }
            }
          }
        }
        .btn {
          width: 100%;
          overflow: hidden;
          margin-top: 20px;
          button, span, input[type=submit], a {
            display: block;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            font-size: 14px;
          }
          span {

          }
          input[type=submit] {

          }
          .ajax-loader {
            display: none;
          }
        }
        #input {
          span.wpcf7-form-control-wrap {
            /*For <select>*/
            &.your-time, &.your-ceremony-year, &.your-ceremony-month, &.your-ceremony-capacity {
              &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 6px;
                z-index: 1;
                width: 0;
                height: 0;
                border-style: solid;
              }
              &:before {
                border-width: 0 3px 5px 3px;
                border-color: transparent transparent #8c8c8c transparent;
                margin-top: -6px;
              }
              &:after {
                border-width: 5px 3px 0 3px;
                border-color: #8c8c8c transparent transparent transparent;
                margin-top: 1px;
              }
            }
          }
          label[for=your-file] {
            b {
              font-size: 14px;
            }
          }
          span {
            &.caption {
              display: none;
              margin-left: 10px;
              font-size: 11px;
            }
            &.label {
              display: inline-block;
              margin: 0 10px 0 5px;
            }
          }
          button {
            display: block;
          }
        }
        #input, #confirm {
          .items {
            margin-top: 14px;
            dl {
              display: block;
              margin-top: 16px;
              dt {
                .required{
                  /*color: $baseLightColor;*/
                }
              }
              dd {
                margin-top: 3px;
              }
            }
          }
          .notes {
            margin-top: 25px;
            a {
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        #confirm {
          .items {
            dl {
              dt {

              }
            }
          }
          .btn {
            margin-top: 40px;
            button, span {
              float: left;
              width: 48.3%;
              margin-left: 3.4%;
            }
            button {
              margin-left: 0;
            }
          }
        }
        #confirm, #result {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: auto;
          min-height: 100%;
          background: #fff;
          transition: all 0.2s ease-in-out;
          visibility: hidden;
          opacity: 0;
          &.show {
            visibility: visible;
            opacity: 1;
          }
        }
        #result {
          z-index: 2;
          .btn {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
span.wpcf7-list-item {
  input, span {
    display: inline-block;
    vertical-align: middle;
  }
  &.first {
    margin-left: 0;
  }
}
