/* custom media queries */
@custom-media --viewport-medium (width >= 768px);
@custom-media --viewport-large (width >= 992px);
@custom-media --viewport-extraLarge (width >= 1200px);

:root {
  --fontSize: 11px;
  --fontColor: #000;
  --linkColor: var(--fontColor);
  --fontFamily: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  --fontMincho: 'EB Garamond', 'Times New Roman', 'ＭＳ 明朝', 'MS Mincho', 'ヒラギノ明朝 ProN W3',
    'Hiragino Mincho ProN', 'メイリオ', Meiryo, serif;
  --lineHeight: 1.6;
  --transition: all 0.3s linear;
  --borderRadius: 5px;
  --borderColor: #c8c8c8;
  --baseWidth: 1000px;
  --mobileHeaderH: 50px;
}
