.icon-author,
.icon-book,
.icon-contact,
.icon-download,
.icon-sample,
.icon-top {
  background-image: url(../images/sprites/icon.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-author,
  .icon-book,
  .icon-contact,
  .icon-download,
  .icon-sample,
  .icon-top {
    background-image: url(../images/sprites/icon@2x.png);
    background-size: 96px 64px;
  }
}

.icon-author {
  background-position: 0 0;
}

.icon-book {
  background-position: -32px 0;
}

.icon-contact {
  background-position: 0 -32px;
}

.icon-download {
  background-position: -32px -32px;
}

.icon-sample {
  background-position: -64px 0;
}

.icon-top {
  background-position: -64px -32px;
}
